@{
    Layout = null;
}

@{
    ViewData["Title"] = "Home Page";
}


<p>Hey Index</p>

<div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Компании</h5>
        <p class="card-text">можно просмотреть\создать свои компании, посмотреть чужие</p>
        <button onclick="showCompanysPage()" class="btn btn-primary">Перейти</button>
       
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Проекты</h5>
        <p class="card-text">можно просмотреть\создать свои проекты, посмотреть чужие</p>
        <button onclick="showProjectsPage()" class="btn btn-primary">Перейти</button>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Компетенции</h5>
        <p class="card-text">просмотреть список компетенций</p>
        <button onclick="showCompetencePage()" class="btn btn-primary">Перейти</button>
    </div>
</div>
