изменение статусов заявок
изменение статусов проекта

    <div>
        <div><input type="text" value="inj"/></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
